.footer {
  padding-bottom: 21px;
  background-color: #AABAD0;
  font-size: 18px;
  line-height: 25px;

  &__top {
    height: 104px;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    font-size: 69px;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;

    &-inner {
      padding-top: 38px;

      &:first-child {
        flex-grow: 1;
        max-width: 800px;
        position: relative;
        padding-right: 80px;

        &::after {
          content: '';
          position: absolute;
          top:0;
          right: 0;
          width: 2px;
          height: 70%;
          background-color: #000;
        }
      }

      &:nth-child(2) {
        max-width: 350px;
        padding-left: 44px;
      }
    }
  }

  &__navigation {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__nav {
    margin-bottom: 15px;

    &-title {
      margin: 0;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 31px;
    }

    &-item {
      margin-bottom: 9px;

      &:hover {
        color: #FFBCBC;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__copyrights {
    margin: 15px 0 25px;
  }

  &__additions {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 18px;

    &-text {
      margin-top: 5px;
      max-width: 330px;
    }
  }

  .photo-materials {
    display: flex;
    flex-wrap: wrap;

    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &__item {
      margin-right: 5px;
      border-bottom: 1px solid #000;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__form {
    label {
      position: relative;
    }
    .email-input {
      width: 100%;
      margin: 20px 0;
      padding-right: 70px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #000;

      &-btn {
        width: 32px;
        height: 20px;

        border: none;

        position: absolute;
        top: 70px;
        right: 0;

        background: url('../assets/img/sprite.svg#arrow-right') no-repeat center / cover;

        cursor: pointer;

        &:hover {
          right: -3px;
        }
      }
    }
  }

  &__socials {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    width: max-content;
    display: block;
    margin-bottom: 5px;
  }

  @include media-md {
    &__navigation {
      border-bottom: 2px solid #000;
    }

    &__bottom {
      justify-content: center;

      &-inner {
        &:first-child {
          order: 2;
          padding-right: 0;

          &::after {
            content: none;
          }
        }

        &:nth-child(2) {
          padding-left: 0;
        }
      }
    }
  }
}