.product-card {
  max-width: 453px;
  width: 100%;
  text-align: center;
  display: flex;

  &__img {
    position: relative;
    max-width: 453px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 56%;

    img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  &__name {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
  }

  &__num-of-colours {
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 24px;
  }

  &__price {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;

    &::before {
      content: '$';
    }
  }

  &__link {
    width: 100%;
    cursor: pointer;
  }
}

.product-cards {
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    min-width: 280px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}