.section {
  &__header {
    padding-bottom: 12px;
    border-bottom: 2px solid #000;
  }

  &__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    margin: 0;
    font-size: 70px;
  }

  &__body {
    padding-top: 77px;
  }

  @include media-md {
    &__title {
      font-size: 60px;
    }
  }

  @include media-sm {
    &__title {
      font-size: 54px;
    }
  }

  @include media-xs {
    &__title {
      font-size: 34px;
    }
  }
}